:root {
    --prm1: #6c72ff;
    --prm2: linear-gradient(to bottom right, #6c72ff, #7f25fb);
    --sec1: #101935;
    --sec2: #343b4f;
    --sec3: #57c3ff;
    --sec4: #9a91fb;
    --sec5: #fdb52a;
    --neu1: #080f25;
    --neu2: #212c4d;
    --neu3: #37446b;
    --neu4: #7e89ac;
    --neu5: #aeb9e1;
    --neu6: #d1dbf9;
    --neu7: #d9e1fa;
    --neu8: #ffffff;
}

.light {
    --prm1: #6c72ff;
    --prm2: linear-gradient(to bottom right, #6c72ff, #7f25fb);
    --sec1: #101935;
    --sec2: #343b4f;
    --sec3: #57c3ff;
    --sec4: #9a91fb;
    --sec5: #fdb52a;
    --neu1: #080f25;
    --neu2: #212c4d;
    --neu3: #37446b;
    --neu4: #7e89ac;
    --neu5: #aeb9e1;
    --neu6: #d1dbf9;
    --neu7: #d9e1fa;
    --neu8: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    @media (orientation: portrait) {
        flex-direction: column;
    }
    @media (orientation: landscape) {
        flex-direction: row;
    }
    background-color: black;
    color: var(--neu8);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
